.rewards-categories-container {
  padding: 0 60px;
  margin: 30px auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.rewards-categories-table {
  font-size: 22px;
}

tr {
  height: 55px;
}

td {
  width: 100px;
}

.reward-item {
  border: 1px solid black;
  width: fit-content;
  margin: 0 auto;
  padding: 8px;
  position: relative;
}

.content-row td {
  position: relative;
}

.reward-item--empty {
  border: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.reward-item--empty .reward-delete-button {
  display: none;
}

.reward-delete-button {
  position: absolute;
  top: 0;
  font-size: 11px;
  right: 2px;
  cursor: pointer;
}

.droppable-container {
  min-height: 50px;;
}

.rewards-categories-buttons {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.rewards-categories-buttons button {
  margin: 10px;
}

.rewards-categories-buttons button:hover {
  cursor: pointer;
}

.content-row td:first-child div {
  /* cursor: grab; */
}